.app__Kitchen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.app__Kitchen-Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.app__Kitchen-content {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    width: 100%; 
    max-width: 800px; 
}

.app__Kitchen-veggies,
.app__Kitchen-tofu,
.app__Kitchen-Tonburi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    margin-top: 1rem;
    flex-wrap: wrap; 
}

.app__Kitchen-Innovation {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app__Kitchen img {
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .app__Kitchen-content {
        margin: 1rem;
    }

    .app__Kitchen img {
        max-width: 300px; 
    }

    .app__Kitchen-veggies,
    .app__Kitchen-tofu,
    .app__Kitchen-Tonburi {
        flex-direction: column; 
        gap: 1rem;
        align-items: center;
    }

    .app__Kitchen-Innovation p {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin: 1rem 0;
    }
}
