.app__Specials {
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #050407;
    padding: 2rem;
    position: relative;
    z-index: 0;
  }
  
  .app__Specials.dark {
    background-color: #121212;
  }
  
  .app__Specials-title {
    text-align: center;
    margin: 3rem 0;
  }
  
  .headtext__cormorant {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 60px;
    color: var(--color-golden);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .app__Specials-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 3rem;
    overflow: hidden;
  }
  
  .app__Specials-img-container {
    position: relative;
    transition: all 1s ease;
  }
  
  .app__Specials-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .app__Specials-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .app__Specials-img-container:hover .app__Specials-overlay {
    opacity: 1;
  }
  
  .app__Specials-hover-content {
    text-align: center;
    color: #fff;
  }
  
  .app__Specials-details {
    text-align: center;
    padding-top: 2rem;
  }
  
  .app__specialMenu-menu_heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    color: var(--color-golden);
    margin-bottom: 1rem;  /* Add space between title and description */
  }
  
  .app__p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1.75;
    font-size: 23px;
  }
  
  .app__Specials-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.app__Specials-img img{
    width:90%;
}

.app__Specials-Christmas{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 3rem 0;
}

.app__Specials-catering{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 3rem 0;
}

/*For our Sliding Components*/
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel-text {
    color: white; /* Ensures text stands out against black background */
}

.carousel-slide {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay to enhance contrast */
}


.app__Specials-carousel .slick-slide {
    padding: 0 15px;
}


.carousel-slide {
    display: flex;
    flex-direction: column;  /* Stack image and text vertically */
    align-items: center;     /* Center the content */
    text-align: center;      /* Center text */
    position: relative;
}