.app__tastingmenu {
    display: flex;
    flex-direction: column;
    background-color: #050407;
    height: 600px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.app__tastingmenu-chef{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}