.app__TastingMenu {
    flex-direction: column;
    background-color: #050407;
}

.app__TastingMenu-title {
    margin-top: 0rem;
    text-align: center;
}

.app__TastingMenu-menu {
    width: 100%;
    margin: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.app__TastingMenu-courseitems{
    display: flex;
    flex-direction: column;

    margin: 2rem 0;
    width: 100%;
}

@media screen and (min-width: 2000px) {
}

@media screen and (max-width: 1150px) {
    .app__TastingMenu-menu {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
}